<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.chronopost.chat">

    <application>
        <activity android:name="com.openclassrooms.go4lunch.ui.restaurant.ChatActivity"></activity>
    </application>

    <uses-permission android:name="android.permission.VIBRATE" />

</manifest>